/**
 * Breadcrumb
 */
.breadcrumb {
  position: relative;
  width: 100%;
  margin: 0 auto var(--wp--custom--spacing--medium, 1.5rem);
  padding: var(--wp--custom--spacing--medium, 1.5rem) 0;
  font-size: var(--wp--custom--font-size--small, 0.875rem);
  line-height: var(--wp--custom--line-height--large);
  letter-spacing: 0.04rem;
}
.breadcrumb__item {
  display: inline-block;
  margin-bottom: 0;
  text-transform: capitalize;
}
.breadcrumb__item:not(:first-child)::before {
  content: ">";
  padding-left: var(--wp--custom--spacing--x-small, 0.375rem);
  padding-right: var(--wp--custom--spacing--x-small, 0.375rem);
}

/**
 * Cover
 */
.cover__image.--num_1 {
  background-image: url("./assets/img01.jpg");
}
.cover__image.--num_2 {
  background-image: url("./assets/img02.jpg");
}
.cover__image.--num_3 {
  background-image: url("./assets/img03.jpg");
}
.cover__image.--num_4 {
  background-image: url("./assets/img04.jpg");
}
.cover__image.--fade {
  opacity: 0;
  transition: none;
}
.preloader .cover {
  opacity: 0;
}
.--loaded .preloader .cover {
  opacity: 1;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
}
/**
 * Drawer Menu
 */
.drawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1110;
  display: block;
  width: calc(1.5rem + 48px);
  height: calc(1.5rem + 48px);
  padding: 0;
  border: 0;
  background-color: transparent;
  text-align: center;
  outline: 0;
  cursor: pointer;
}
@media (min-width: 900px) {
  .drawer {
    display: none;
  }
}
.drawer__navicon.icon, .drawer__close.icon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 48px;
  height: 48px;
  transition: 0.25s all ease-in-out;
}
.drawer__navicon {
  opacity: 0;
  transform: rotate(-45deg);
}
.drawer:not(.--active) .drawer__navicon {
  opacity: 1;
  transform: rotate(0);
}

.drawer__close {
  opacity: 1;
  transform: rotate(0);
}
.drawer:not(.--active) .drawer__close {
  opacity: 0;
  transform: rotate(45deg);
}

.drawer.--dark .drawer__close {
  color: var(--wp--preset--color--white, #ffffff);
}

.drawerMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  width: clamp(18rem, 40%, 24rem);
  height: 100%;
  margin: auto;
  background-color: var(--wp--preset--color--light, #b3b3b3);
  text-align: center;
  transition: width ease-in-out 0.25s;
}
.drawerMenu:not(.--show) {
  width: 0;
}
.drawerMenu__inner {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  margin-bottom: 0;
  padding-left: 20%;
  text-align: left;
  opacity: 1;
}
.drawerMenu__inner:not(.--show) {
  opacity: 0;
}
.drawerMenu__inner.--collapse {
  display: none;
}
.drawerMenu__primaryMenu, .drawerMenu__socialMenu {
  list-style: none;
  flex: 1 1 100%;
  padding-left: 0;
}
.drawerMenu__socialMenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.drawerMenu__item {
  width: 100%;
  margin-bottom: 0;
  padding-top: var(--wp--custom--spacing--x-small, 0.375rem);
  padding-bottom: var(--wp--custom--spacing--x-small, 0.375rem);
  text-transform: capitalize;
}
.drawerMenu__item.--siteBrand {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.drawerMenu__item.--siteBrand img {
  width: auto;
  height: 48px;
}
.drawerMenu__item.--social {
  width: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.drawerMenu__item.--social img {
  width: 100%;
  height: auto;
}
.drawerMenu__item a {
  display: block;
  text-decoration: none;
}
.drawerMenu.--dark {
  background-color: var(--wp--preset--color--primary, #3399cc);
}
.drawerMenu.--dark .drawerMenu__item a {
  color: var(--wp--preset--color--white, #ffffff);
  fill: var(--wp--preset--color--white, #ffffff);
}
.drawerMenu.--dark .drawerMenu__item a img {
  filter: invert(1) grayscale(1) brightness(4);
}

.drawerMenuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1090;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.drawerMenuOverlay.--collapse {
  display: none;
}

/**
 * Embed
 */
.embed__cover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  color: var(--wp--preset--color--white, #ffffff);
  transition: opacity linear 0.25s;
}
.embed__cover:not(.active) {
  opacity: 0;
}
.embed__info {
  font-size: var(--wp--preset--font-size--small);
}

/**
 * Icon
 */
.icon {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  fill: currentColor;
}

.icon__cnt {
  width: 100%;
  height: 100%;
  background: inherit;
  fill: inherit;
  pointer-events: none;
  transform: translateX(0);
  -ms-transform: translate(0.5px, -0.3px);
}

.icon--m {
  width: 3rem;
  height: 3rem;
}

.icon--l {
  width: 4.5rem;
  height: 4.5rem;
}

/**
 * Preloader
 */
.preloader__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  width: 100%;
  height: 100vh;
  background: var(--wp--preset--color--primary, #3399cc);
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
}
.preloader__overlay:not(.--show) {
  opacity: 0;
}
.preloader__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 18rem;
  height: 18rem;
  margin: auto;
}
.preloader__spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 48px;
  margin: auto;
}
.preloader__spinner > span {
  position: absolute;
  top: 18px;
  left: 22px;
  display: block;
  width: 4px;
  height: 12px;
  border-radius: 2px;
}
.preloader__spinner > span:nth-child(1) {
  background-color: rgba(var(--wp--preset--color--white, #ffffff), 0.0714285714);
  transform: rotate(0deg) translate(0, 16px);
}
.preloader__spinner > span:nth-child(2) {
  background-color: rgba(var(--wp--preset--color--white, #ffffff), 0.1428571429);
  transform: rotate(30deg) translate(0, 16px);
}
.preloader__spinner > span:nth-child(3) {
  background-color: rgba(var(--wp--preset--color--white, #ffffff), 0.2142857143);
  transform: rotate(60deg) translate(0, 16px);
}
.preloader__spinner > span:nth-child(4) {
  background-color: rgba(var(--wp--preset--color--white, #ffffff), 0.2857142857);
  transform: rotate(90deg) translate(0, 16px);
}
.preloader__spinner > span:nth-child(5) {
  background-color: rgba(var(--wp--preset--color--white, #ffffff), 0.3571428571);
  transform: rotate(120deg) translate(0, 16px);
}
.preloader__spinner > span:nth-child(6) {
  background-color: rgba(var(--wp--preset--color--white, #ffffff), 0.4285714286);
  transform: rotate(150deg) translate(0, 16px);
}
.preloader__spinner > span:nth-child(7) {
  background-color: rgba(var(--wp--preset--color--white, #ffffff), 0.5);
  transform: rotate(180deg) translate(0, 16px);
}
.preloader__spinner > span:nth-child(8) {
  background-color: rgba(var(--wp--preset--color--white, #ffffff), 0.5714285714);
  transform: rotate(210deg) translate(0, 16px);
}
.preloader__spinner > span:nth-child(9) {
  background-color: rgba(var(--wp--preset--color--white, #ffffff), 0.6428571429);
  transform: rotate(240deg) translate(0, 16px);
}
.preloader__spinner > span:nth-child(10) {
  background-color: rgba(var(--wp--preset--color--white, #ffffff), 0.7142857143);
  transform: rotate(270deg) translate(0, 16px);
}
.preloader__spinner > span:nth-child(11) {
  background-color: rgba(var(--wp--preset--color--white, #ffffff), 0.7857142857);
  transform: rotate(300deg) translate(0, 16px);
}
.preloader__spinner > span:nth-child(12) {
  background-color: rgba(var(--wp--preset--color--white, #ffffff), 0.8571428571);
  transform: rotate(330deg) translate(0, 16px);
}

/**
 * Responsive Color
 */
.responsiveColor.--change {
  color: var(--wp--preset--color--white, #ffffff);
}
.responsiveColor.--change span, .responsiveColor.--change a {
  color: var(--wp--preset--color--white, #ffffff);
}
.responsiveColor.--change img {
  filter: invert(1) grayscale(1) brightness(4);
}

/**
 * Slider
 */
.slider {
  position: relative;
  width: 100%;
  height: calc(83.33vmin * 0.625);
  overflow: hidden;
}
@media (min-width: 900px) {
  .slider.--sm {
    height: 12rem;
  }
  .slider.--md {
    height: 18rem;
  }
  .slider.--lg {
    height: 24rem;
  }
}
.slider .is-style-slider-items {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0);
}
.slider .is-style-slider-items .wp-block-image {
  position: relative;
  flex: 0 1 auto;
  order: 0;
  margin: 0;
  opacity: 1;
  transition: opacity 0.15s linear;
}
.slider .is-style-slider-items .wp-block-image:not(.--current) {
  opacity: 0.5;
}
.slider .is-style-slider-items .wp-block-image img {
  margin: 0;
}
.slider .is-style-slider-items .wp-element-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--wp--custom--spacing--small, 0.75rem) var(--wp--custom--spacing--medium, 1.5rem);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  color: var(--wp--preset--color--white, #ffffff);
  font-size: var(--wp--custom--font-size--x-large, 1.5rem);
  text-align: center;
}
.slider .is-style-slider-items .wp-element-caption a {
  display: block;
  color: var(--wp--preset--color--white, #ffffff);
}
.slider__prev, .slider__next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  height: 4.5rem;
  margin: auto;
  border: 0;
  background-color: transparent;
  color: var(--wp--preset--color--primary-light, #85c2e0);
  text-align: center;
}
.slider__prev:hover, .slider__next:hover {
  color: var(--wp--preset--color--primary, #3399cc);
}
.slider__prev {
  left: 0;
}
.slider__next {
  right: 0;
}
.slider__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  height: 1rem;
  margin: var(--wp--custom--spacing--small, 0.75rem) auto;
  padding: 0;
}
.slider__navItem {
  width: 0.5rem;
  height: 0.5rem;
  margin: var(--wp--custom--spacing--small, 0.75rem);
  border-radius: 50%;
  background-color: var(--wp--preset--color--primary, #3399cc);
  cursor: pointer;
}
.slider__navItem:not(.--current) {
  background-color: var(--wp--preset--color--primary-light, #85c2e0);
}